<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>提示</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/fontawesome-5.0.13/css/fontawesome-all.min.css">
    <style type="text/css">
        .warning {
            background: none repeat scroll 0 0 #EEDC94;
            border: 1px solid #E4C652;
            margin: auto;
            width: 600px;
            padding: 0 20px;
            margin-top: 20px;
        }
    </style>
    </head>
    <body>
      <div class="warning">
        <p><span style="font-size: 24px;font-weight: bold"><i class="far fa-frown"></i></span><span style="color: red;font-size: 24px"> 404错误！</span>您访问的地址不存在, 请仔细检查访问地址！<a href="/">>> 返回首页</a></p>    
      </div>
    </body>
</html>