{% extends "base.html" %}

{% block header %}
<div class="jumbotron home-header">
    <div class="container">
        <h1 class="display-4">数据</h1>
        <p class="lead">数据通道</p>
    </div>
</div>
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <i class="fas fa-home" style="color: #db01d4; padding-right: 20px;"></i>1</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">
                        <small class="text-muted"></small>
                    </h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>当日</td>
                            </tr>
                            <tr>
                                <td>当月</td>
                            </tr>
                            <tr>
                                <td>当年</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary">查看详情</a>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <i class="fas fa-clone" style="color: #FF0000; padding-right: 20px;"></i>2</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">
                        <small class="text-muted"></small>
                    </h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>当日</td>
                            </tr>
                            <tr>
                                <td>当月</td>
                            </tr>
                            <tr>
                                <td>当年</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary" >查看详情</a>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        <i class="fas fa-seedling" style="color: #088A08; padding-right: 20px;"></i>3</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">
                        <small class="text-muted"></small>
                    </h2>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>当日</td>
                            </tr>
                            <tr>
                                <td>当月</td>
                            </tr>
                            <tr>
                                <td>当年</td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary" >查看详情</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}