<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>提示</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <style type="text/css">
        .warning {
            background: none repeat scroll 0 0 #EEDC94;
            border: 1px solid #E4C652;
            margin: auto;
            width: 600px;
            padding: 0 20px;
            margin-top: 20px;
        }
    </style>
    </head>
    <body>
      <div class="warning">
        <p style="font-size:18px;font-weight:bold">系统检测到您的{{ check_msg }}！</p>
        <p>为了更好地统一展示页面效果，请下载安装使用如下浏览器:</p>
        <ul>
          <li><a href="/down/Firefox_Setup_52.0.1.exe">火狐浏览器(52.0.1 版本)</a></li>
          <li><a href="/down/chrome_installer_49.0.2623.75.exe">谷歌浏览器(49.0.2623.75 版本)</a> [推荐使用]</li>
        </ul>
      </div>
    </body>
</html>